body {
    margin: 0;
    color: #444;
    background: #ffc400;
    font: 300 18px/18px Roboto, sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.machine-wrap {
    top: 50%;
    left: 50%;
    width: 475px;
    height: 145px;
    position: absolute;
    border-bottom: 5px solid #271e01;
    margin-top: -72.5px;
    margin-left: -237.5px;
}

.machine {
    width: 475px;
    height: 145px;
    padding-bottom: 20px;
}

.machine .machine-roof,
.machine .machine-main {
    margin: auto;
}

.machine .machine-roof {
    width: 80px;
    height: 60px;
    bottom: -1px;
    position: relative;
    background: #ffc600;
    border: 15px solid #271e01;
    border-bottom: none;
}

.machine .machine-roof .machine-silencer {
    width: 14px;
    left: -50px;
    height: 12px;
    bottom: -1px;
    position: absolute;
    background: #271e01;
}

.machine .machine-roof .machine-silencer::before {
    height: 0;
    bottom: 100%;
    width: inherit;
    border: 6px solid #271e01;
    border-top: 4px solid transparent;
    border-left: 8px solid transparent;
}

.machine .machine-roof .machine-silencer::after {
    left: 4px;
    width: 5px;
    height: 12px;
    bottom: 100%;
    background: inherit;
    transform: skewY(-35deg);
}

.machine .machine-roof .machine-silencer::before,
.machine .machine-roof .machine-silencer::after {
    content: "";
    position: absolute;
}

.machine .machine-roof .machine-silencer .machine-smoke {
    left: -5px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 20px;
    position: absolute;
    background: #271e01;
    transform: scale(0);
    animation: moveSmoke .5s linear infinite;
}


@keyframes moveSmoke {
    0% {
        opacity: 0;
        transform: scale(0) translate(0);
    }

    60% {
        transform: scale(.5) translate(0);
    }

    100% {
        opacity: 0;
        transform: scale(1) translate(-10px, -40px);
    }
}